In [5]:
import pandas as pd
import seaborn as sms
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LogisticRegression # Algoritmo de clasificacion 
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, ConfusionMatrixDisplay

In [2]:
df = pd.read_csv("../Data/titanic_preprocesamiento.csv")
df.head()

,Age,Pclass,Ticket,Sibsp,Parch,Sex_female,Sex_male,Log_Fare,Embark_Town_Cherbourg,Embark_Town_Queenstown,Embark_Town_Southampton,Survived
0,22.0,3.0,1.0,1.0,0.0,0.0,1.0,2.110213,1.0,0.0,0.0,0.0
1,38.0,1.0,1.0,0.0,0.0,1.0,0.0,4.280593,0.0,0.0,1.0,1.0
2,26.0,3.0,1.0,1.0,0.0,1.0,0.0,2.188856,0.0,0.0,1.0,1.0
3,35.0,1.0,2.0,0.0,0.0,1.0,0.0,3.990834,0.0,0.0,1.0,1.0
4,35.0,3.0,1.0,0.0,0.0,0.0,1.0,2.202765,0.0,1.0,0.0,0.0

In [ ]:
X = df.drop('Survived')

In [ ]:
# Particionamiento
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Cargar modelo
model = LogisticRegression()

# Entrenamos el modelo
model.fit(X_train, y_train)

# Testeamos el modelo
y_pred = model.predict(X_test)

# Imprimimos el resultado
print(f'accuracy: {accuracy_score(y_test, y_pred)}')