## Ejercicios - pandas 1

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Versión
print(f"pandas=={pd.__version__}")
print(f"numpy=={np.__version__}")

pandas==2.2.3
numpy==2.2.1

### Ejercicio 1:
- Lee el archivo **"Canada.xlsx"** y guardalo en la variable **df**

In [3]:
df = pd.read_excel("../Data/Canada.xlsx")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 41 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Tipo              195 non-null    object
 1   Pais              195 non-null    object
 2   Area              195 non-null    int64
 3   Continente        195 non-null    object
 4   Region            195 non-null    int64
 5   Nombre de region  195 non-null    object
 6   Tipo de region    195 non-null    object
 7   1980              195 non-null    int64
 8   1981              195 non-null    int64
 9   1982              195 non-null    int64
 10  1983              195 non-null    int64
 11  1984              195 non-null    int64
 12  1985              195 non-null    int64
 13  1986              195 non-null    int64
 14  1987              195 non-null    int64
 15  1988              195 non-null    int64
 16  1989              195 non-null    int64
 17  1990              195 non-null    int64
 18  1991              195 non-null    int64
 19  1992              195 non-null    int64
 20  1993              195 non-null    int64
 21  1994              195 non-null    int64
 22  1995              195 non-null    int64
 23  1996              195 non-null    int64
 24  1997              195 non-null    int64
 25  1998              195 non-null    int64
 26  1999              195 non-null    int64
 27  2000              195 non-null    int64
 28  2001              195 non-null    int64
 29  2002              195 non-null    int64
 30  2003              195 non-null    int64
 31  2004              195 non-null    int64
 32  2005              195 non-null    int64
 33  2006              195 non-null    int64
 34  2007              195 non-null    int64
 35  2008              195 non-null    int64
 36  2009              195 non-null    int64
 37  2010              195 non-null    int64
 38  2011              195 non-null    int64
 39  2012              195 non-null    int64
 40  2013              195 non-null    int64
dtypes: int64(36), object(5)
memory usage: 62.6+ KB

### Ejercicio 2:
- Mostrar el tamaño de DataFrame.

### Ejercicio 3:
- Mostrar las primeras 3 filas.

### Ejercicio 4:
- Mostrar las últimas 10 filas.

### Ejercicio 5:
- Mostrar las estadisticas del DataFrame.

### Ejercicio 6:
- Mostrar la información del DataFrame.

### Ejercicio 7:
- Mostar las columnas del DataFrame en una lista.

### Ejercicio 8:
- Eliminar las columnas: _**Tipo**_, _**Area**_ y _**Region**_.

### Ejercicio 9:
- Obtener los valores únicos de la columna _**Continente**_ en una lista.

### Ejercicio 10:
- Obtener el valor minimo del año 2000.

### Ejercicio 11:
- Obtener los valores máximos de 1991-2000.

### Ejercicio 12:
- Obtener una lista con la media de migración de todos los años.

### Ejercicio 13:
- Obtener el país con más migración en el año 2010.

### Ejercicio 14
- Obtener el país con menor migración en el año 2005.

### Ejercicio 15:
- Encuentra el año en que más migración hubo de España a Canada.

### Ejercicio 16:
- Encuentra el año en que menor migración hubo de España a Canada.

### Ejercicio 17:
- Ordena en una lista los años de migración en España de menor a mayor de acuerdo a la información de cada año.

### Ejercicio 18:
- Crea una lista con todos los países.

### Ejercicio 19:
- Encuentra el número de paises por continente y agrega los nombres a un diccionario.
    - Ejemplo: **{"Asía" : 20, "Africa" : 10, "Europa" : 5}**

### Ejercicio 20:
- Crea un DataFrame a partir del diccionario anterior.

### Ejercicio 21:
- Repite los últimos dos ejercicios tomando en cuenta que america latina y america del norte son un solo continente.

### Ejercicio 22:
- Crea un DataFrame por continente y en cada DataFrame apareceran los paises de dicho contiente.
- Muestra las 3 primeras filas de cada DataFrame.

### Ejercicio 23:
- Obtener los valores maximos de migración de cada año y crea un DataFrame con los años y el número de migración máximo de cada año.

|     |Año |Numero de Migrantes|
|-----|----|-------------------|
|**0**|1980|22045              |
|**1**|1981|24796              |
|**2**|1982|20620              |
|**3**|1983|10015              |
|**4**|1984|10170              |

### Ejercicio 24:
- Ordenar por número mayor de migración a menor el DataFrame anterior.

### Ejercicio 25:
- Obtener el promedio y la mediana de cada año de migración y agregar al dataframe anterior.


|     |Año |Numero de Migrantes|promedio  |mediana|
|-----|----|-------------------|----------|-------|
|**0**|1980|22045              |508.394872|13.0   |
|**1**|1981|24796              |566.989744|10.0   |
|**2**|1982|20620              |534.723077|11.0   |
|**3**|1983|10015              |387.435897|12.0   |
|**4**|1984|10170              |376.497436|13.0   |

### Ejercicio 26:
- Encontrar el año en que hubo más migración por continente y crear un dataframe con nombre de continente, el año de máxima migración y cantidad de migración.

|     |Continente|Año |Migraciones|
|-----|----------|----|-----------|
|**0**|Asia      |2010|163845     |
|**1**|Europe    |1990|68301      |
|**2**|Africa    |2010|40892      |
|**3**|Oceania   |1992|2871       |
|**4**|America   |1992|44699      |

In [4]:
df_26

NameError: name 'df_26' is not defined

### Ejercicio 27:
- Encontrar los 10 paises con más migración entre el 2008 y 2010.

|       |Pais                                             |2008 |2009 |2010|migracion_2010|
|-------|-------------------------------------------------|-----|-----|-----|--------------|
|**136**|Philippines                                      |24887|28573|38617|         92077|
|**79** |India                                            |28261|29456|34235|         91952|
|**36** |China                                            |30037|29622|30391|         90050|
|**185**|United States of America                         |10190|8995 |8142 |         27327|
|**183**|United Kingdom of Great Britain and Northern I...|8979 |8876 |8724 |         26579|
|**130**|Pakistan                                         |8994 |7217 |6811 |         23022|
|**81** |Iran (Islamic Republic of)                       |6475 |6580 |7477 |         20532|
|**140**|Republic of Korea                                |7294 |5874 |5537 |         18705|
|**116**|Morocco                                          |4226 |5532 |6242 |         16000|
|**39** |Colombia                                         |5452 |4652 |5218 |         15322|

,Pais,Continente,Nombre de region,Tipo de region,1980,1981,1982,1983,1984,1985,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,migracion_2010
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,5615
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,...,1223,856,702,560,716,561,539,620,603,1837
2,Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,14150

,Pais,2008,2009,2010,migracion_2010
136,Philippines,24887,28573,38617,92077
79,India,28261,29456,34235,91952
36,China,30037,29622,30391,90050
185,United States of America,10190,8995,8142,27327
183,United Kingdom of Great Britain and Northern I...,8979,8876,8724,26579
130,Pakistan,8994,7217,6811,23022
81,Iran (Islamic Republic of),6475,6580,7477,20532
140,Republic of Korea,7294,5874,5537,18705
116,Morocco,4226,5532,6242,16000
39,Colombia,5452,4652,5218,15322

### Ejercicio 28:
- Agregar una columna al **DataFrame inicial** con el número total de migración de 1980 al 2013 por pais.

,Pais,Continente,Nombre de region,Tipo de region,1980,1981,1982,1983,1984,1985,...,2006,2007,2008,2009,2010,2011,2012,2013,migracion_2010,Total Migracion
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,3009,2652,2111,1746,1758,2203,2635,2004,5615,12457
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,...,856,702,560,716,561,539,620,603,1837,3599
2,Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,...,4807,3623,4005,5393,4752,4325,3774,4331,14150,26580
3,American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,Andorra,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,1,1,0,0,0,0,1,1,0,2

### Ejercicio 29:
- Encuentra el país de cada continente con más migración y crea un DataFrame con estos paises.

,Pais,Continente,Nombre de region,Tipo de region,1980,1981,1982,1983,1984,1985,...,2006,2007,2008,2009,2010,2011,2012,2013,migracion_2010,Total Migracion
136,Philippines,Asia,South-Eastern Asia,Developing regions,6051,5921,5249,4562,3801,3150,...,18400,19837,24887,28573,38617,36765,34315,29544,92077,192701
183,United Kingdom of Great Britain and Northern I...,Europe,Northern Europe,Developed regions,22045,24796,20620,10015,10170,9564,...,7140,8216,8979,8876,8724,6204,6195,5827,26579,44805
116,Morocco,Africa,Northern Africa,Developing regions,325,471,447,335,248,328,...,3322,4021,4226,5532,6242,4399,3878,3261,16000,27538
9,Australia,Oceania,Australia and New Zealand,Developed regions,702,639,484,317,317,319,...,875,1033,1018,1018,933,851,982,1121,2969,5923
185,United States of America,America,Northern America,Developed regions,9378,10030,9074,7100,6661,6543,...,9613,9463,10190,8995,8142,7676,7891,8501,27327,51395

### Ejercicio 30:
- Encontrar los 3 paises con más migración de cada continente y agregarlos en un DataFrame.

|       |Continente|Pais                                             |Total Migracion|
|-------|----------|-------------------------------------------------|---------------|
|**79**	|Asia	   |India                                            |691904         |
|**36**	|Asia	   |China                                            |659962         |
|**136**|Asia	   |Philippines                                      |511391         |
|**183**|Europa	   |United Kingdom of Great Britain and Northern I...|551500         |
|**137**|Europa	   |Poland                                           |139241         |
|**63**	|Europa	   |France                                           |109091         |
|**55**	|Africa	   |Egypt                                            |72745          |
|**116**|Africa	   |Morocco                                          |72267          |
|**2**	|Africa	   |Algeria                                          |69439          |
|**9**	|Oceania   |Australia                                        |23829          |
|**61**	|Oceania   |Fiji                                             |20609          |
|**124**|Oceania   |New Zealand                                      |10386          |
|**185**|America   |United States of America                         |241122         |
|**86**	|America   |Jamaica                                          |106431         |
|**75**	|America   |Haiti                                            |84813          |

                                                  Pais  Total Migracion
136                                        Philippines           192701
36                                               China           185705
79                                               India           183481
183  United Kingdom of Great Britain and Northern I...            44805
63                                              France            30212
67                                             Germany            15648
116                                            Morocco            27538
55                                               Egypt            27208
2                                              Algeria            26580
9                                            Australia             5923
124                                        New Zealand             2697
61                                                Fiji             1844
185                           United States of America            51395
39                                            Colombia            27060
75                                               Haiti            25838

### Ejercicio 31:
- Cambiar los nombres de cada continente a español.

array(['Asia', 'Europa', 'Africa', 'Oceania', 'America'], dtype=object)

#### Extra: Obtener un Dataframe que te parezca relevante a partir de la aplicación de filtros. ¡Se creativo!

In [ ]:
################################################################################################################################