### 1. CREAR BASE DE DATOS (33%)

* Crear con código SQL una base de datos llamada supermercado.
* Código Python con mysql connector que ejecute el SQL para borrar y generar la base de datos vacía.

In [1]:
import pandas as pd
import mysql.connector as con
import random
import datetime

In [2]:
# Crear base de datos "supermercado"
conexion = con.connect(
    host="localhost",
    port= "3306",
    user= "root",
    password= "admin"
)
cursor = conexion.cursor()
cursor.execute("DROP DATABASE IF EXISTS supermercado;")
cursor.execute("CREATE SCHEMA supermercado DEFAULT CHARACTER SET utf8;")
#cursor.close()
#connection.close()
#connection.close()

In [3]:
# Creo una sola tabla
# Conexion
conexion = con.connect(
    host="localhost",
    port= "3306",
    user= "root",
    password= "admin",
    database= "supermercado"
)
cursor = conexion.cursor()

# crear tabla
query_tabla_tiendas = """
CREATE TABLE IF NOT EXISTS tiendas (
    id_tienda INT AUTO_INCREMENT PRIMARY KEY,
    nombre_tienda VARCHAR(30),
    direccion_tienda VARCHAR(50),
    ciudad VARCHAR (50)
)
"""
# Hacer los cambios en la base de datos
cursor.execute(query_tabla_tiendas)
conexion.commit()
print("Tabla creada exitosamente.")

# Cerrar la conexion
cursor.close()
conexion.close()

Tabla creada exitosamente.

In [4]:
# Creo varias tablas a la vez
conexion = con.connect(
    host="localhost",
    port= "3306",
    user= "root",
    password= "admin",
    database= "supermercado"
)
cursor = conexion.cursor()

query_varias_tablas = ["""
    CREATE TABLE IF NOT EXISTS empleados (
    id_empleado INT AUTO_INCREMENT PRIMARY KEY,
    nombre_empleado VARCHAR(30),
    puesto VARCHAR(20),
    id_tienda INT,
    FOREIGN KEY (id_tienda) REFERENCES tiendas(id_tienda) ON DELETE CASCADE
)""",

    """
    CREATE TABLE IF NOT EXISTS categorias (
    id_categoria INT AUTO_INCREMENT PRIMARY KEY,
    nombre_categoria VARCHAR(40)
)""",

    """
    CREATE TABLE IF NOT EXISTS productos (
    id_producto INT AUTO_INCREMENT PRIMARY KEY,
    nombre_producto VARCHAR(40),
    precio DECIMAL (6, 2),
    stock INT,
    id_categoria INT,
    FOREIGN KEY (id_categoria) REFERENCES categorias(id_categoria) ON DELETE CASCADE
)""",

    """
    CREATE TABLE IF NOT EXISTS clientes (
    id_cliente INT AUTO_INCREMENT PRIMARY KEY,
    nombre VARCHAR(15),
    apellido VARCHAR (20),
    email VARCHAR (30),
    codigo_postal INT
)""",

    """
    CREATE TABLE IF NOT EXISTS ordenes (
    id_orden INT AUTO_INCREMENT PRIMARY KEY,
    id_cliente INT,
    FOREIGN KEY (id_cliente) REFERENCES clientes(id_cliente),
    id_empleado INT,
    FOREIGN KEY (id_empleado) REFERENCES empleados(id_empleado),
    fecha_orden DATE,
    metodo_pago ENUM('Tarjeta', 'Efectivo')
)""",

   """
    CREATE TABLE IF NOT EXISTS detalle_orden (
    id_detalle INT AUTO_INCREMENT PRIMARY KEY,
    id_orden INT NOT NULL,
    FOREIGN KEY (id_orden) REFERENCES ordenes(id_orden) ON DELETE CASCADE,
    id_producto INT NOT NULL,
    FOREIGN KEY (id_producto) REFERENCES productos(id_producto) ON DELETE CASCADE,
    cantidad INT (15) NOT NULL,
    descuento DECIMAL (3,2),
    precio_unitario DECIMAL(6,2) NOT NULL
)"""
]
# Para ejecutar cada consulta a kla base de datos y crear todas las tablas
for query in query_varias_tablas:
    cursor.execute(query)

conexion.commit()
print("Tablas creadas exitosamente.")

# Para copiar el "precio" de la tabla "productos" en la tabla "detalle_orden"
query_trigger = """
CREATE TRIGGER insertar_precio_unitario
BEFORE INSERT ON detalle_orden
FOR EACH ROW
BEGIN
    DECLARE precio_producto DECIMAL(6,2);

    -- Obtener el precio del producto desde la tabla productos
    SELECT precio INTO precio_producto 
    FROM productos 
    WHERE id_producto = NEW.id_producto;

    -- Asignar el precio al nuevo registro en detalle_orden
    SET NEW.precio_unitario = precio_producto;
END;
"""

cursor.execute(query_trigger)

conexion.commit()
print("Trigger creado exitosamente.")

# Para cerrar la conexión
cursor.close()
conexion.close()

Tablas creadas exitosamente.
Trigger creado exitosamente.

In [17]:
# Generamos nombres de tiendas
filas = random.randint(11, 11)

nombre_tienda = [f'Tienda_0{numero}' if numero < 10 else f'Tienda_{numero}' for numero in range(filas)]
nombre_tienda

['Tienda_00',
 'Tienda_01',
 'Tienda_02',
 'Tienda_03',
 'Tienda_04',
 'Tienda_05',
 'Tienda_06',
 'Tienda_07',
 'Tienda_08',
 'Tienda_09',
 'Tienda_10']

In [6]:
direccion_tienda = [f'Calle_falsa_{100 + numero}' if numero < 10 else f'Calle_falsa_{100 + numero}' for numero in range(filas)]
direccion_tienda

['Calle_falsa_100',
 'Calle_falsa_101',
 'Calle_falsa_102',
 'Calle_falsa_103',
 'Calle_falsa_104',
 'Calle_falsa_105',
 'Calle_falsa_106',
 'Calle_falsa_107',
 'Calle_falsa_108',
 'Calle_falsa_109']

In [7]:
# Lista de ciudades
ciudades = ["Madrid", "Barcelona", "Sevilla", "Valencia", "Bilbao", "Zaragoza", "Granada", "Alicante","Murcia","Albacete"]

# Número de ciudades aleatorias
num_ciudades = 10  

# Generar la lista de ciudades aleatorias
ciudades_aleatorias = [random.choice(ciudades) for _ in range(num_ciudades)]

print(ciudades_aleatorias)

['Zaragoza', 'Granada', 'Albacete', 'Granada', 'Bilbao', 'Sevilla', 'Valencia', 'Madrid', 'Valencia', 'Zaragoza']

In [8]:
# Conectar a MySQL
conexion2 = con.connect(
    host="localhost",
    user="root",
    password="admin",
    database="supermercado"
)
cursor = conexion2.cursor()

# Insertar los datos en la tabla
for i in range(10):
    cursor.execute("INSERT INTO tiendas (nombre_tienda, direccion_tienda, ciudad) VALUES (%s, %s, %s)",
                   (nombre_tienda[i], direccion_tienda[i], ciudades_aleatorias[i]))

conexion2.commit()
cursor.close()
conexion2.close()