Carga con Pandas: pd.read_csv


Limpieza de nulos (limpiar valores NaN):

Nulos en columnas continuas: mediana, media
Nulos en columnas categóricas: moda, un valor fijo



Cambio de tipo de dato: .astype()


Limpieza de valores error:

llegue un valor incorrecto, por ejemplo una columna número le llega una interrogación



Encoding: texto a numérico

Uso de la función get_dummies() para encoding one_hot



Uso de función map o apply


Ordenar por dos columnas con sort_values()


Agrupaciones con groupby y visualizarla


Seaborn EDAS:

univariantes:

histogramas y curvas de densidad
boxplot
countplot


bivariantes y multivariantes

scatterplot con hue, con size, con style
Calcular correlación con Pandas y mostrarla con seaborn


Combinarlas con filtros



Outliers: Visualización y filtrado


asimetría, curtosis y transformar datos con logaritmo o raíz cuadrada

### Importar librerias necesarias

In [1]:
import pandas as pd
import seaborn as sns

### Carga del CSV con Pandas

In [25]:
df_motogp = pd.read_csv('../Data/motogp_allriders.csv')
df_motogp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         115 non-null    object
 1   victories    115 non-null    int64
 2   2nd          95 non-null     float64
 3   3rd          99 non-null     float64
 4   poles        54 non-null     float64
 5   fastest_lap  96 non-null     float64
 6   world_champ  27 non-null     float64
dtypes: float64(5), int64(1), object(1)
memory usage: 6.4+ KB

#### Informacón sobre el CSV

In [31]:
df_motogp.describe()

        victories        2nd        3rd      poles  fastest_lap  world_champ
count  115.000000  95.000000  99.000000  54.000000    96.000000    27.000000
mean     8.000000   8.157895   6.949495  12.111111     8.937500     2.666667
std     14.490771  10.233774   7.973648  15.051693    14.241387     2.000000
min      1.000000   1.000000   1.000000   1.000000     1.000000     1.000000
25%      1.000000   2.000000   2.000000   2.000000     1.000000     1.000000
50%      2.000000   4.000000   4.000000   6.500000     3.000000     2.000000
75%      7.000000   9.500000   8.500000  15.000000    10.000000     4.000000
max     89.000000  61.000000  49.000000  62.000000    76.000000     8.000000

In [33]:
df_motogp.isna().sum()

name            0
victories       0
2nd            20
3rd            16
poles          61
fastest_lap    19
world_champ    88
dtype: int64

#### Limpieza de nulos (limpiar valores NaN):
- Nulos en columnas continuas: mediana, media
- Nulos en columnas categóricas: moda, un valor fijo