## Ejercicio - pandas 3

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Versiones

print(f"numpy=={np.__version__}")
print(f"pandas=={pd.__version__}")

### Ejercicio 0:
- Carga ambos archivos **titanic_1.csv** y **titanic_2.csv** y guardalos en **df1** y **df2** respectivamente:

### Ejercicio 1:
- Mostrar las estadisticas de cada uno de los DataFrames.

### Ejercicio 2:
- Unir los DataFrames para obtener solo uno.

### Ejercicio 3:
- Imprimir las últimas 5 filas de las columnas de nombre y edad

### Ejercicio 4:
- Imprimir las primeras 10 filas de las instancias que en sexo sean igual a femenino.

### Ejercicio 5:
- Imprimir las instancias que en la columna **Fare** sean menor a 33 y en la columna **Pclass** igual a 2.

### Ejercicio 6:
- Del resultado anterior obten el número de hombres y el número de mujeres.

### Ejercicio 7:
- Obten el costo total de los tickets de hombres y el costo total de los tickets de mujeres.

### Ejercicio 8:
- Obten el costo total de los tickets por cada clase (1, 2 y 3) y el número de pasajeros de cada clase.

### Ejercicio 9:
- Crear una columna con el apellido de cada pasajero y agregala al DataFrame.

### Ejercicio 10:
- Encuentra si se repiten apellidos en la columna que se creo en el ejercicio anterior. (Usa _**.value_counts()**_)

### Ejercicio 11:
- Encuentra los apellidos que se repiten en la columna recien creada. Es decir, solo muestra los apellidos que aparecen más de 1 vez.

### Ejercicio 12:
- Imprime los primeros 10 pasajeros que tengan un **PassengerID** multiplo de 3.

### Ejercicio 13:
- ¿Cuales son los apellidos de los pasajeros que son mujeres y menores de 20 años?

### Ejercicio 14:
- ¿Cuales son los apellidos de los pasajeros que son hombres y mayor de 45 años?

### Ejercicio 15:
- Compara si coinciden los apellidos generados en los ejercicios anteriores.

### Ejercicio 16:
- Encuentra los 10 pasajeros que no sobrevivieron más jovenes e imprime cuantos son hombres y cuantos son mujeres.

### Ejercicio 17:
-  En un DataFrame muestra 3 pasajeros que sean hombres y 3 que sean mujeres, que hayan sobrevivido y para cada clase de la columna **Pclass**.

### Ejercicio 18:
- Obtener el tipo de elementos de cada columna y convierte los que sean "int64" a "int32". Evalua la memoria que consume antes y después de convertir las columnas y comenta la diferencia.

### Ejercicio 19:
- Encuentra a los pasajeros de la clase 1 y 3 entre 20 y 25 años y comprueba si son más hombres o mujeres.

### Ejercicio 20:
- Agrega una nueva columna al DataFrame que se llame: "Rango edad" y va a categorizar de la siguiente manera:
    - Niño < 11 años
    - Joven < 18 años
    - Adulto < 50 años
    - Mayor >= 50 años

### Ejercicio 21:
- Encontrar a los pasajeros "jovenes" y "mayores" de la clase 2 y 3 que hayan sobrevivido. Imprimir los 10 primeros.

### Ejercicio 22:
- Encuentra la edad promedio de todos los pasajeros y reemmplazala por los **NaN** en la columna de **Age** y ejecuta el ejercicio anterior.

### Ejercicio 23:
- Cambia a español la columna **Sex**.

### Ejercicio 24:
- Convierte a mayusculas todas las columnas que los valores sean cadenas.

### Ejercicio 25:
- Agrupa por sexo y rango de edad y encuentra la edad promedio.

### Ejercicio 26:
- Divide la columna name en las siguientes columnas:
    - Mrs/Miss
    - Apellido
    - Nombre(s)
    
**Nota: Ignora el resto de información.**

In [ ]:
################################################################################################################################