## Ejercicio - pandas 2

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Versiones

print(f"numpy=={np.__version__}")
print(f"pandas=={pd.__version__}")

### Ejercicio 0:
- Carga el archivo **titanic.csv** y guardalo en la variable **df**.

### Ejercicio 1:
- Muestra la información del DataFrame.

### Ejercicio 2:
- Cambia las columnas del tipo **"object"** a tipo **"category"**.

### Ejercicio 3:
- Obten un DataFrame solo con hombres.

### Ejercicio 4:
- Obten un DataFrame con los pasajeros de clase 1 y 2.

### Ejercicio 5:
- Obten un DataFrame con los pasajeros de la clase 1 y 3, menores a 30 años.

### Ejercicio 6:
- Obten un DataFrame con los pasajeros entre 20 y 30 años.

### Ejercicio 7:
- Obten un DataFrame con los pasajeros menores a 25 años y mayores a 50 años.

### Ejercicio 8:
- Remplaza los valores de sexo, por M para male y F para female.

### Ejercicio 9:
- Convierte en mayusculas todos los nombres de los pasajeros.

In [ ]:
################################################################################################################################